@use "./colors.scss" as *;

@media screen and (min-width: 1440px) {
  body {
    /* header styling */
    header {
      max-width: 144rem;
      & .header-container {
        padding: 0.8rem 16.7rem;

        & nav.header-nav {
          display: flex;
          justify-content: space-between;
          align-items: center;

          & button#burger {
            display: none;
          }

          & img.logo-mobile {
            display: none;
          }
          & img.logo-desktop {
            position: absolute;
            display: block;
            transform: scale(0.6);
            left: 58rem;
            z-index: 3;
          }

          & ul.nav-list {
            top: -44.9rem;
            left: 56.5rem;
            display: flex;
            flex-direction: row;
            gap: 3rem;
            margin-top: 3rem;
            min-width: unset;
            width: 100%;
            transform: translateX(-40rem);
            z-index: -1;

            & hr {
              display: none;
            }

            & .nav-icons {
              margin-left: 60.5rem;

              & a img.search-icon {
                margin-top: 0.2rem;
              }
              & a img.shopping-cart-icon {
                margin: 0 2rem;
              }
            }
          }
        }
      }
    }

    /* main section */
    main {
      & .main-container {
        & .content-wrapper {
          flex-direction: row;
          justify-content: space-between;
          margin: 11rem 12.5rem 0 14.5rem;

          & .left-content {
            width: 50%;
            /* form-styling */
            & form {
              > h1 {
                font-size: 3.2rem;
              }
              /* stepper styling */
              & .progressbar {
                justify-content: flex-start;

                &::before {
                  transform: translateX(220%);
                }

                &::after {
                  transform: translateX(590%);
                }

                & .progress-step {
                  width: 2.4rem;
                  height: 2.4rem;
                  &:nth-of-type(1) {
                    margin-right: 20rem;
                  }

                  &:nth-of-type(2) {
                    margin-right: 20rem;
                  }

                  &::before {
                    font-size: 1.2rem;
                  }
                  &::after {
                    content: attr(data-title);
                    position: absolute;
                    font-size: 1.6rem;
                    transform: translateX(5.5rem);
                  }
                }

                & .progress-step-active {
                }

                & .progress-step-checked {
                }
              }
              & .form-step {
                > h1 {
                  font-size: 2.4rem;
                }

                & .form-row {
                  /* step 1: delivery address styling */

                  input {
                    &[name="telephone"],
                    &[name="email"],
                    &[name="address"],
                    &[name="cardholder"],
                    &[name="card-number"] {
                      padding-right: 1.4rem;
                    }
                    &[name="name"],
                    &[name="address"] {
                      width: 36rem;
                    }

                    &[name="telephone"],
                    &[name="email"] {
                      width: 26.4rem;
                    }

                    &[name="address"] {
                      margin-left: 1.1rem;
                    }
                  }
                  & .select-wrapper {
                    & select {
                      &[name="honorifics"],
                      &[name="city"] {
                        width: 15.8rem;
                      }

                      &[name="city"] {
                        padding-right: 3.5rem;
                      }
                    }
                  }

                  & .select-wrapper-honorifics {
                    &::after {
                      left: 13.5rem;
                    }
                  }
                  & .select-wrapper-city {
                    &::after {
                      right: 1.8rem;
                    }
                  }
                }

                .form-separate {
                  flex-direction: row;

                  &:last-of-type {
                  }
                }

                .form-inline {
                }
                /* step 2: delivery method styling */
                & .shipping-method-container {
                  & .radio-wrapper {
                    width: 43.5rem;
                    & input[type="radio"] {
                      &:checked {
                      }
                    }

                    label {
                      & .delivery-wrapper-left {
                        & .delivery-content {
                        }

                        & .delivery-option {
                        }

                        & .delivery-time {
                        }
                      }

                      & span.delivery-cost {
                      }

                      & span.free {
                        transform: translate(24rem, -2rem);
                      }

                      & span.five-hundred {
                        transform: translate(24.5rem, -2rem);
                      }
                    }
                  }
                }

                /* step 3: payment info*/
                & .payment-container {
                  & input {
                    &[name="cardholder"],
                    &[name="card-number"] {
                      width: 35rem;
                    }
                  }

                  & .form-two-columns-wrapper {
                    & input {
                      width: 25.5rem;
                    }

                    & .expiration-CVC-wrapper {
                      display: flex;
                      flex-direction: column;
                    }
                  }
                }
              }

              & .form-step-active {
              }
            }
          }

          /* checkout content styling */
          & .right-content {
            width: 39%;
            margin-top: 6.5rem;
            & h1 {
              display: block;
              margin: 1.8rem 0 3.5rem 0;
              font-size: 1.8rem;
            }

            & .shopping-cart-details {
              & .product-wrapper {
                & .product-details {
                  display: flex;

                  & .produdct-details-wrapper {
                    text-align: left;
                  }

                  & .first-product-details-wrapper {
                    margin-right: 9rem;
                  }

                  & .second-product-details-wrapper {
                    margin-right: 12rem;
                  }
                  & h5.product-name {
                  }

                  & .change-amount-btn-wrapper {
                    & button.change-amount-btn {
                    }

                    & .minus-btn {
                    }

                    & .plus-btn {
                    }

                    & span.amount {
                    }
                  }

                  & h5.product-price {
                  }
                }
              }

              & .shopping-cart-fee-wrapper {
                & .fee-wrapper {
                  &:first-of-type {
                    margin: -0.5rem 0 3rem 0;
                  }

                  &:last-of-type {
                    margin: 1.5rem 0;
                  }

                  > span:last-of-type {
                  }
                }
              }
            }
          }
        }
        > hr.full-width {
          width: 40%;
          margin: -9.7rem 0 0 14.5rem;
        }
      }
      /* btns styling */
      & .btns-group {
        position: absolute;
        bottom: 19.1rem;
        left: 16.5rem;

        & .btn-prev {
          margin-right: 31rem;
        }
      }
    }

    /* footer styling */
    & footer {
      display: block;
      background-color: $footer-bg-color;
      margin-top: 19.5rem;

      & .footer-container {
        display: flex;
        padding: 6rem 16.4rem 8rem 16.4rem;

        & .footer-logo {
          margin: 2rem 4rem 0 -3rem;
          & img {
            transform: scale(0.6);
          }
        }

        & .footer-content-container {
          & h1 {
            margin-bottom: 2rem;
            font-size: 2.4rem;
          }

          & p {
            font-size: 1.6rem;
            color: $input-footer-text-color;

            &:not(:last-of-type) {
              margin-bottom: 1rem;
            }
          }

          & .social-media {
            display: flex;
            gap: 2rem;
            margin-top: 1rem;
            & i {
              font-size: 2rem;
              color: $input-footer-text-color;
            }
          }
        }

        & .customer-service {
          margin-right: 12rem;
        }

        & .about-us {
          margin-right: 12.2rem;
        }

        & .information {
          margin-right: 11rem;
        }
      }
    }
  }
}
