@use "./colors.scss" as *;

body {
  width: 100%;
  height: 100vh;

  /* header styling */
  header {
    max-width: 50rem;

    & nav.header-nav {
      & button#burger {
        transform: translateY(-0.5rem);
      }

      & img.logo-mobile {
        margin-left: 7rem;
      }

      & img.logo-desktop {
        display: none;
      }

      & ul.nav-list {
        position: absolute;
        left: 0.1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 3rem;
        min-width: 100%;
        min-height: 100vh;
        background: $white;
        font-size: 1.6rem;
        display: none;

        &.show {
            display: flex;
        }
        
        & hr {
          border: 0;
          height: 0.1rem;
          width: 90%;
          background: $hr-color;
        }

        & .nav-icons {
          display: flex;
          justify-content: center;
          margin-top: 1.5rem;

          & img.shopping-cart-icon {
            margin: 0 4rem;
          }
        }
      }
    }
  }
}
